#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#mainCanvas {
    border: 1px solid #000;
    width: 70vw;
    height: 100%;
}

#sidePanel {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 20px;
    overflow-y: auto;
    max-height: 100vh;
}

#graphPanel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#positionGraphCanvas, #velocityGraphCanvas, #accelerationGraphCanvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 150px;
}

#controlPanelTabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tabBtn {
    width: 100%;
    padding: 10px;
}